[submodule "external/embassy"]
	path = external/embassy
	url = https://github.com/oktima/embassy-fork.git
	branch = upstream-esp-hosted-mcu

[submodule "external/micro_xrce_dds_rs"]
	path = external/micro_xrce_dds_rs
	url = https://github.com/tkn-aip40/micro-xrce-dds-rs.git
